/* CSS declarations go here */
body {
    font-family: sans-serif;
    /*background-color: #f1c40f;*/
    /*background-attachment: fixed; */
    background-color: #E9D460;
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

div.alert-danger {
    position: relative;
}

div.alert-danger p.pull-left {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.navbar-inverse .navbar-brand{
    color: #ecf0f1;
}

.imgContainer {
    height: 200px;
}

.imgContainer.thumb {
    height: 120px;
}

.imgContainer  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}


.secondary-container{
    padding-right: 15px;
    padding-left: 15px;
}

#login-buttons{
    line-height: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    background: #ECF0F1;
    padding-right: 0px;
    padding-left: 0px;
}

hr{
    border-top-color: #95a5a6;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}



header {
    background: #262520;
    /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.login-link-text{

}

.link {
    color: #2574A9;
}

.new-listing{
    margin-bottom: 40px;
}

.center-text{
    text-align: center;
}

.container-no-padding{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

.space-top{
    margin-top: 25px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}




header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}

#chicken{
	color: red;
}